.banner {
    position: relative;
    margin: 1.2em 0;
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../../assets/imagens/bg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.banner__text,
.banner__hero {
    width: 45%;
}

.banner__hero--img {
    width: 100%;
}

.banner__introduction {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--laranja-claro);
}

.banner__titulo {
    margin-bottom: .5em;
}

.banner__paragraf {
    margin-bottom: 2em;
}

.banner__especialidades {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    color: var(--branco);
    margin-bottom: 2em;
}

.banner__especialidades li {
    border-right: solid var(--laranja-claro);
}

.banner__especialidades li:nth-child(2),
.banner__especialidades li:nth-child(4) {
    border: none;
}

.banner__skills {
    margin-bottom: 3em;
    display: flex;
    gap: 1em;
}

.banner__skill {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
}

.banner__skill img {
    width: 100%;
}

.banner__cta {
    color: var(--laranja-claro);
    border: solid 1px var(--laranja-claro);
    border-radius: 10px;
    font-size: .8em;
}

.banner__socials {
    width: 50px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 30%;
}

.banner__socials::before {
    content: '';
    width: 3px;
    height: 50px;
    display: block;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 10px;
    background-color: #EDEDED;
}

.banner__socialList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.banner__redes {
    width: 40px;
    height: 40px;
}

.banner__redes span {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 13px;
}

.banner__redes span:hover{
    transition: ease .1s;
    background-color: var(--laranja-claro);
    background-size: contain;
    border-radius: 5px;
}

.banner__redes:nth-child(1) span {
    background-image: url(./../../assets/imagens/socials/instagram.webp);
}

.banner__redes:nth-child(2) span {
    background-image: url(./../../assets/imagens/socials/linkedin.webp);
}

.banner__redes:nth-child(3) span {
    background-image: url(./../../assets/imagens/socials/zap.webp);
}

.banner__redes:nth-child(4) span {
    background-image: url(./../../assets/imagens/socials/github.webp);
}

.banner__socials::after {
    content: '';
    width: 3px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    background-color: #EDEDED;
}


@media screen and (max-width: 700px) {
    .banner{
        margin-bottom: 0px;
    }

    .banner__container {
        flex-direction: column-reverse;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: unset;
    }

    .banner__text,
    .banner__hero {
        width: 100%;
    }

    .banner__socials{
        width: 100%;
        right: auto;
        top: 36%;
    }
    .banner__socialList {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        margin: 0 auto;
    }
    .banner__redes a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner__redes span {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        left: auto;
    }

    

    .banner__socials::before {
        content: '';
        width: 50px;
        height: 3px;
        display: block;
        position: absolute;
        top: 35px;
        left: 10%;
        border-radius: 10px;
        background-color: #EDEDED;
    }
    .banner__socials::after {
        content: '';
        width: 50px;
        height: 3px;
        display: block;
        position: absolute;
        bottom: 35px;
        right: 10%;
        left: auto;
        background-color: #EDEDED;
    }

    .banner__text {
        margin-top: 6em;
        padding: 1.4em;
        background-color: var(--preto);
        padding-bottom: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .banner__hero{
        text-align: center;
    }

    .banner__hero--img {
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
    }


    .banner__especialidades {
        display: grid;
        justify-items: unset;
        grid-template-columns: 50% 50%;
        grid-gap: 10px 0px;
        color: var(--branco);
        margin-bottom: 2em;
    }

    .banner__especialidades li {
        border-right: solid var(--laranja-claro);
        width: 90%;
    }

    .banner__skills {
        width: 80%;
        margin-bottom: 3em;
        display: flex;
        gap: 0em;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }

    .banner__cta {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .banner__socials {
        top: 44%;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .banner__container {
        justify-content: space-between;
    }
    .banner__text{
        width: 55%;
    }
    .banner__hero {
        width: 45%;
    }
    .banner__text, .banner__hero{
        padding: 2em 0;
    }
    .banner__socials {
        top: 20%;
    }
}
