:root {
    --verde-escuro: #0D1F23;
    --verde-principal: #132e35;
    --verde-claro: #2D4A53;
    --cinza-claro: #AFB3B7;
    --cinza-principal: #69818D;
    --cinza-escuro: #5A636A;

    /* outro */
    --preto-principal: #2C3A3D;
 
    /* fontes */
    --fonte-principal: 'Inter', 'Open Sans';
    --fonte-titulo: 'Gotham-Bold';

    /* Cores Principais */
    --preto: #1e1e1e;
    --preto-escuro: #1b1b1b;
    --cinza: #2c2c2c;
    --branco: #ededed;
    --branco-secundario: #EDEDED;
    --laranja-claro: #dfa47d;
}


@font-face {
    font-family: 'Gotham-Bold';
    src: url(./../../assets/fonts/Gotham-Bold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(./../../assets/fonts/Gotham-Light.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(./../../assets/fonts/GothamBook.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(./../../assets/fonts/GothamMedium.woff2) format("woff2");
    font-display: swap;
}


.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    user-select: none;
}

.cta {
    font-family: var(--fonte-principal);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: solid 1px;
    font-weight: 600;
    padding: .8em 4em;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cta:hover{
    transition: ease-in .2s;
    color: var(--branco-secundario);
}


body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: var(--preto-escuro);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cinza);
    border-radius: 20px;
    border: 3px solid var(--preto);
}