
.depoimentos__container{
    text-align: center;
    padding: 6em 0 9em;
}
.depoimentos__tag {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--laranja-claro);
    position: relative;
}

.depoimentos__tag::before, .depoimentos__tag::after {
    content: '';
    width: 30px;
    height: 2px;
    top: 50%;
    position: absolute;
    display: block;
    background-color: var(--laranja-claro);
}
.depoimentos__tag::before {
    left: -40px;
}
.depoimentos__tag::after {
    right: -40px;
}

.depoimentos__text{
    padding: 1em 0 4em;
}

.carrousel__depoimentos{
    width: 70%;
    margin: 0 auto;
    overflow: visible;

}
.carrousel__item--depoimentos{
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 1em;
    background-color: var(--preto);
    position: relative;
    border-radius: 5px;
}

.carrousel__item--depoimentos::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    background-image: url(./../../assets/imagens/aspa.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
    opacity: .05;
    z-index: 0;
}


.carrousel__depoimentos--span{
    width: 100%;
    height: 1px;
    display: block;
    background-color: var(--laranja-claro--hover);
}
.carrousel__depoimentos--cargo{
    padding-top: .5em;
    color: var(--laranja-claro);
    padding-bottom: 1em;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -2.8em);
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 13px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 13px));
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}
.swiper-pagination-bullet-active{
    background-color: var(--laranja-claro);
}


.swiper-button-next, .swiper-button-prev {
    color: var(--laranja-claro);
    display: none;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: auto;
    right: -2em;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: auto;
    left: -2em;
}


@media screen and (max-width: 900px){
    .carrousel__item--depoimentos {
        height: auto;
    }
    .carrousel__depoimentos {
        width: 85%;
    }
    .carrousel__item--depoimentos::after {
        width: 70%;
        height: 70%;
        left: 60px;
    }
}