.header {
    padding: 1em 0;
}

.header__container {
    background-color: var(--preto-escuro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 0;
    height: 50px;
}

.header__img {
    width: 60px;
    padding: .2em;
}

.header__menu {
    width: 45%;
    height: 100%;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header__menu--item {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
    overflow: hidden;

    color: var(--laranja-claro);
    background: linear-gradient(to right, var(--preto-escuro), var(--preto-escuro)), linear-gradient(to right, var(--laranja-claro), var(--laranja-claro), var(--laranja-claro));
    background-size: 100% 1px, 0 1px;
    background-position: 0% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 800ms;
    background-position-y: 35px;
}

.header__menu--item:hover {
    transition: ease-in .5s;
    background-size: 0 1px, 100% 1px;
}
.header__menu--item:hover>.header__menu--link{
    transition: ease-in .2s;
    color: var(--laranja-claro);
}

.header__menu--link {
    text-decoration: none;
    color: var(--branco-secundario);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo--link {
    display: flex;
}

/* hamburguer */

.hamburguer-container {
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    padding-right: 10px;
    z-index: 99999;

}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

.hamburguer-container label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

.hamburguer-container label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--laranja-claro);
    transition: 0.25s ease-in-out;
}


.hamburguer-container label span:nth-child(1) {
    top: 0;
}

.hamburguer-container label span:nth-child(2) {
    top: 8px;
}

.hamburguer-container label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}





/* MOBILE */

@keyframes zoom {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header.mobile .header__img {
    z-index: 99999;
}

.header.mobile .header__menu {
    width: 100vw;
    height: 50vh;
    padding: 0px;
    gap: 15%;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    background: var(--cinza);
    position: absolute;
    animation: zoom .2s ease-in;
    z-index: 9999;
    bottom: 0;
    flex-direction: column;
    padding-top: 1em;
}

.header.mobile .header__menu:nth-child(1) {
    top: 0;
    justify-content: end;
    padding-top: 0px;
    padding-bottom: 3em;
}



.header.mobile .header__menu--item {
    height: 10%;
    width: 90%;
    border-bottom: solid 1px var(--laranja-claro);
    background: transparent;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 0px;
    overflow: hidden;
}

.header.mobile .header__menu--link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 1.125em;
}

.header.mobile body {
    overflow-y: hidden;
}



/* RESPONSIVIDADE MENU */

@media screen and (max-width: 500px) {
    .header.mobile .header__menu:nth-child(1) .header__menu--item:nth-child(3){
        /* background-color: aqua; */
        margin-bottom: 3em;
    }
}


@media screen and (max-width:1024px) {
    .header__menu {
        display: none;
    }

    .header__container {
        background-color: transparent;
    }

   

    .hamburguer-container {
        display: flex;
        margin-left: 10px;
    }

}

