.services{
    width: 100%;
    background-color: var(--preto);
}
.services__container{
    text-align: center;
    padding: 4em 0;
}

.services__tag{
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--laranja-claro);
    position: relative;
}
.services__tag::before, .services__tag::after{
    content: '';
    width: 30px;
    height: 2px;
    top: 50%;
    position: absolute;
    display: block;
    background-color: var(--laranja-claro);
}

.services__tag::before{
    left: -40px;
}
.services__tag::after{
    right: -40px;
}

.services__titulo{
    margin-bottom: 2em;
}

.services__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services__card{
    background-color: var(--cinza);
    width: 25%;
    min-width: 180px;
    height: 250px;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services__img{
    max-width: 60px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.services__card small{
    color: #ffffff81;
    padding: 1em;
}


.services__text{
    max-width: 80%;
    margin: 2em auto;
}

.services__cta {
    color: var(--laranja-claro);
    border: solid 1px var(--laranja-claro);
    border-radius: 10px;
    font-size: .8em;
}


@media screen and (max-width: 700px) {
    .services__container {
        text-align: center;
        padding: 6em 0px;
    }
    .services__list {
        flex-direction: column;
    }
    .services__card {
        width: 100%;
       
    }
    .services__text {
        max-width: 100%;
        padding-top: 2em;
     margin: 0;
    }
    .services__cta {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3em;
    }
}